
<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		.name{
			background-color: black;
			color: white;
			border:1px solid black;
		}
		
    


	</style>
	<title></title>
</head>
<body>
<img src="https://rightarth.com/images/banner-home.jpg">
<form action="/home" method='GET'>
	Enter your group name:<input name=x type=text />
	<br>
	Enter your ip  name:<input name=y type=text />
	<br>
	Enter your password:<input name=z type=password />
	<br>
	done<input type=submit />
</form >

</body>
</html>

        
