

<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		.name{
			background-color: black;
			color: white;
			border:1px solid black;
		}
		
     body{
     	background-color: black;
     }



	</style>
	<title></title>
</head>
<body>
<img src="https://rightarth.com/images/banner-home.jpg">
<form action="/play" method='GET'>
	<br >
	<div class="name">
		<h1>To run any play here you can do  that</h1>
        Enter your play name   :<input name=g type=text />
        <br>
        Enter your Experience  :<input name=j type=text />
           <br >
           <br >

        Done<input type=submit />
    </div>
</form >

</body>
</html>

        
